head
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title Ronny Haase &bull; Lead Frontend / Full-Stack Software Engineer &amp; Software Architect
  meta(name="description", content="Hi, I'm Ronny! I am a Frontend / Full-Stack Software Engineer & -Architect with 10+ years of experience building highly scalable web-based solutions.")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover")
  link(rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico")
  link(
    href="https://fonts.googleapis.com/css?family=Lato:300,400"
    rel="stylesheet"
  )
  link(
    href="/bootstrap-grid.css"
    rel="stylesheet"
  )
  link(
    href="/styles.css"
    rel="stylesheet"
  )
