head
  meta(charset="utf-8")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title Ronny Haase &bull; Lead Frontend / Full-Stack Software Engineer &amp; Software Architect
  meta(name="description", content="Hi, I'm Ronny! I am a Frontend / Full-Stack Software Engineer & -Architect with 15+ years of experience building highly scalable web-based solutions.")
  meta(property="og:title", content="Ronny Haase ∙ Lead Frontend / Full-Stack Software Engineer & -Architect")
  meta(property="og:description", content="Hi, I'm Ronny! I am a Frontend / Full-Stack Software Engineer & -Architect with 15+ years of experience building highly scalable web-based solutions.")
  meta(property="og:url", content="https://ronnyhaase.com")
  meta(property="og:image", content="https://ronnyhaase.com/static/images/ronnyhaase-preview-1200.png")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:description", content="Ronny Haase ∙ Lead Frontend / Full-Stack Software Engineer & -Architect with 15+ years of experience building highly scalable web-based solutions.")
  meta(name="twitter:image", content="https://ronnyhaase.com/static/images/ronnyhaase-preview-1200.png")
  meta(name="twitter:image:alt", content="Ronny Haase ∙ Lead Frontend / Full-Stack Software Engineer & -Architect")
  meta(name="twitter:site", content="@ronnyhaase")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover")
  link(rel="shortcut icon" type="image/x-icon" href="static/favicon.ico")
  link(
    href="styles/bootstrap-grid.scss"
    rel="stylesheet"
  )
  link(
    href="styles/main.scss"
    rel="stylesheet"
  )
  script(defer, data-domain="ronnyhaase.com", src="https://plausible.io/js/plausible.js")
